# Semana 5

Mg. Flor Cerdan Leon

Temas:
1.Colecciones de datos
2.Estructuras decisivas
3.Clases y objetos
4.Funciones

2.Estructuras decisivas

In [3]:
P1=float(input("Producto 1:"))
P2=float(input("Producto 2:"))
P3=float(input("Producto 3:"))
total=P1+P2+P3
if total>=1000:
    total*=0.9
print(f"El total a pagar es:{total}")

Producto 1:100
Producto 2:500
Producto 3:500
El total a pagar es:990.0

In [7]:
lista = ["ASUNCION", "BARZOLA", "CAMAN", "CURO", "INCA", "SAHUMA", "TALLEDO", "URBISAGASTEGUI"]
apellido=input("Ingrese el nombre a buscar: ")
if apellido.upper() in lista:
    print("Si esta en la lista de Lp3")
else:
    print("No esta en la lista de Lp3")

Ingrese el nombre a buscar: TENORIO
No esta en la lista de Lp3

In [8]:
ventas=float(input("Digite el importe total de ventas: "))
if ventas<0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas<=2000:
            print("Categoria B ")
        else:
            if ventas<=5000:
                print("Categoria C")
            else:
                print("Categoria D")

Digite el importe total de ventas: 6000
Categoria D

In [9]:
aula=['Inca','Barzola','Urbizagastegui','Caman']

for alumno in aula:
    print(alumno)

Inca
Barzola
Urbizagastegui
Caman

In [10]:
cadena=input("Ingrese cadena:")
for caracter in cadena:
    print(caracter)

Ingrese cadena:chichipi
c
h
i
c
h
i
p
i

In [11]:
range(5)

range(0, 5)

In [13]:
for numero in range(10,22,2):
    print (numero)

10
12
14
16
18
20

In [15]:
numero=3
fin=10
while numero<=fin:
    print(numero)
    numero+=1

3
4
5
6
7
8
9
10